<!-- Set up a basic html welcome page for my flask backed site -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My App</title>
        <!-- link to my css style.css file -->
        <link rel="stylesheet" href="static/style.css"> <!-- Just a bit shorter, for students to understand -->
    </head>

    <body>
        <h1>About us!</h1>
        <p>Our team members are PUT YOUR NAMES HERE</p>
        <p>We're passionate about <span>{{ activity }}</span></p>
    </body>
</html>